---
title: Home
bodyclasses: index
---
<main class="bs-masthead" id="content" role="main">
    <div class="container">
        <h1>{{theme.name}} <small>v{{version.number}}</small></h1>
        <p class="lead">{{theme.slogan}}</p>
        <p>
            <a href="{{links.changelog}}" class="btn btn-outline-inverse btn-lg">Changelog</a>
            <a href="{{links.support}}" target="_blank" class="btn btn-outline-inverse btn-lg">Support Forum</a>
            <a href="{{links.item}}?ref=oxygenna" target="_blank" class="btn btn-outline-inverse btn-lg">Theme Page</a>
        </p>
    </div>
</main>